pipeline/pl_inld_otp_olap.json
{
	"name": "pl_inld_otp_olap",
	"properties": {
		"activities": [
			{
				"name": "fetch_max_from_oltp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(Last_m) as Last_M from fulload123;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_oltp_ent_ist_fulload123",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "fetch_updated_date_tblControl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select LastLoadDate as LastLoadDate from tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_oltp_ent_ist_fulload123",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental_load_copy_ist",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fetch_max_from_oltp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "fetch_updated_date_tblControl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from fulload123\nwhere Last_M <= '@{activity('fetch_max_from_oltp').output.firstRow.Last_M}'\nand Last_M > '@{activity('fetch_updated_date_tblControl').output.firstRow.LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table fulload123;",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_oltp_ent_ist_fulload123",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_olap_ent_ist_fulload123",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}